## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
*.userprefs
**/store/
**/log/

## Visual Studio
.vs/
*.csproj.user
*.dbmdl
*.jfm

## JetBrains Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## OS files
.DS_Store
Thumbs.db
